@import "../abstract/variables";
@import"../base/reset";
@import"../base/typography";

.nav {
    padding-top: 30px;
    position: fixed;
    background-color: $secondary-button-color;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    .container {
        justify-content: space-between;
        display: flex;

        .nav-left {
            h3 {
                color: $main-color ;
                font-size: 27px;
                cursor: pointer;
            }
        }

        .nav-right {
            display: flex;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    a {
                        color: $click-button-color;
                        transition: .5s;
                        font-weight: 400;
                        margin-right: 30px;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }

            
        }

    }

}