$main-color:#f3c81d;
$main-button-color:#1d809f;
$main-button-hover-color:#166d88;
$secondary-button-color:#212529;
$secondary-button-hover-color:#3d464e;
$click-button-color:white;
$section-bgc:#1d809f;
$main-bgimg: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
$callout-bgimg: url(	https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
$caption-bgimg:url(	https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.j)
